
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    --color1: rgb(245, 16, 16);
    --color2: rgba(71, 69, 69, 0.596);
    --color3: rgb(104, 241, 104);

    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;    
}

main {
    background-image: url("../assets/background.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    color: var(--color3);
    font-weight: bold;
    font-family: monospace;
}

img {
    width: 100px;
    height: 100px;
}

.instructions-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid green;
    background-color: var(--color2);
}

h1, h2 {
    padding: 1rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

ul {
    text-align: center;
    padding-bottom: 2rem;
}

label {
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 2rem;
    color: blue;
    text-decoration: underline blue;
}

.play-button {
    display: flex;
    justify-content: center;   
}

button {
    font-size: 3rem;
    color: var(--color3);
    background-color: var(--color2);
    border: 4px outset green;
    border-radius: 25%;
}

#reset-button {
    font-size: 2rem;
    color: red;
    background-color: var(--color3);
}

input {
    display: none;
}

input:checked + img {
    border: 8px solid red;
    border-radius: 15%;
}

.results-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid green;
    background-color: var(--color2);
}
